{% extends "base.html.jinja2" %}
{% block head %}
  {{ super() }}
  <script type="text/javascript"
          src="{{ url_for(".static", filename='locate.js') }}"></script>
  <link rel="stylesheet"
        href="{{ url_for(".static", filename='locate.css') }}">
{% endblock %}
{% block body %}
  <div id="overlay">
    <div class="allow">
      <h1 class="govuk-heading-xl" style="margin-top: 20px;"><i class="fas fa-map-marker-alt"></i>
        Povoľte získanie polohy na upresnenie
        miesta domácej izolácie</h1>
    </div>
    <div class="unavailable" style="display:none;">
      <h1 class="govuk-heading-xl" style="margin-top: 20px;"><i class="fas fa-exclamation-triangle"></i>
        Získanie polohy nebolo úspešné</h1>
      <span>Skúste prosím znova.</span>
    </div>
  </div>
  <div id="map"></div>
  <form action="{{ url_for(".locate", token=token) }}" method="post" style="display: none"
        id="form">
    {{ form.hidden_tag() }}
    {{ form.token() }}
    {{ form.lat() }}
    {{ form.lng() }}
  </form>
  <button class="govuk-button" onclick="submit()" id="send-button" disabled="disabled">Odoslať</button>
{% endblock %}
