{% extends "base.html.jinja2" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for(".static", filename='locate.js') }}"></script>
{% endblock %}
{% from "language.html.jinja2" import languages %}
{% block lang %}
    {% call(lang) languages() %}
        {{ url_for(".locate", lang=lang, token=token) }}
    {% endcall %}
{% endblock %}
{% block body %}
    <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-5">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <form id="form" action="{{ url_for(".locate", lang=get_locale().language, token=token) }}"
                          method="post">
                        {{ form.hidden_tag() }}
                        {{ form.token(style="display: none") }}
                            <div id="address-part">
                                <h2 class="govuk-heading-l">{% trans %}1. Adresa domácej izolácie{% endtrans %}</h2>
                                <div id="address-body">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="street">
                                            {% trans %}Ulica{% endtrans %}
                                        </label>
                                        <span class="govuk-error-message" style="display: none">
                                          <span class="govuk-visually-hidden">Error:</span> {% trans %}Ulica je povinná.{% endtrans %}
                                          </span>
                                        {{ form.street(class_="govuk-input") }}
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="street_number">
                                            {% trans %}Číslo domu{% endtrans %}
                                        </label>
                                        <span class="govuk-error-message" style="display: none">
                                          <span class="govuk-visually-hidden">Error:</span> {% trans %}Číslo domu je povinné.{% endtrans %}
                                          </span>
                                        {{ form.street_number(class_="govuk-input") }}
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="city">
                                            {% trans %}Mesto{% endtrans %}
                                        </label>
                                        <span class="govuk-error-message" style="display: none">
                                          <span class="govuk-visually-hidden">Error:</span> {% trans %}Mesto je povinné.{% endtrans %}
                                          </span>
                                        {{ form.city(class_="govuk-input") }}
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="zip">
                                            {% trans %}PSČ{% endtrans %}
                                        </label>
                                        <span class="govuk-error-message" style="display: none">
                                          <span class="govuk-visually-hidden">Error:</span> {% trans %}PSČ je povinné.{% endtrans %}
                                          </span>
                                        {{ form.zip(class_="govuk-input") }}
                                    </div>
                                    <p class="govuk-body">{% trans %}Po potvrdení adresy tlačidlom nižšie bude spustené spresnenie polohy.{% endtrans %}</p>
                                    <button class="govuk-button" id="address-submit">
                                        {% trans %}Potvrdiť adresu{% endtrans %}
                                    </button>
                                </div>
                            </div>
                            <div id="place-part">
                                <div>
                                    <h2 class="govuk-heading-l gray" id="try-head">{% trans %}2. Povoľte zdieľanie polohy{% endtrans %}</h2>
                                <div id="try-body" style="display: none">
                                    <p class="govuk-body">{% trans %}Po stlačení tlačidla nižšie vás prehliadač vyzve, aby ste povolili zdieľanie polohy. Potvrďte zdieľanie polohy.{% endtrans %}</p>
                                    <p class="govuk-body doing" style="display: none;"><i class="fas fa-spinner fa-pulse spinner"></i></p>
                                    <p class="govuk-body unsupported" style="display: none;"><i
                                            class="fas fa-exclamation-circle"></i> {% trans %}Váš prehliadač nepodporuje získanie polohy.{% endtrans %}</p>
                                    <p class="govuk-body denied" style="display: none;"><i
                                            class="fas fa-exclamation-triangle"></i> {% trans %}Získanie polohy nebolo povolené. Povoľte zdieľanie polohy.{% endtrans %}</p>
                                    <p class="govuk-body unavailable" style="display: none;"><i
                                            class="fas fa-exclamation-triangle"></i> {% trans %}Polohu sa nepodarilo získať. Zapnite získanie polohy v nastaveniach, ak je zapnuté, počkajte na jej získanie.{% endtrans %}
                                    </p>
                                    <p class="govuk-body available" style="display: none;"><i
                                            class="fas fa-check-circle"></i> {% trans %}Poloha bola úspešne získaná.{% endtrans %}</p>
                                    <button class="govuk-button" id="place-try">{% trans %}Zdielať polohu{% endtrans %}</button>
                                </div>
                                </div>
                                <div>
                                    <h2 class="govuk-heading-l gray" id="place-head">{% trans %}3. Počkajte na získanie presnej polohy{% endtrans %}</h2>
                                    <div id="place-body" style="display: none">
                                        <p class="govuk-body">{% trans %}Pokúšame sa získať čo najpresnejší údaj o Vašej polohe. Akonáhle bude vaša poloha overená s presnosťou aspoň {{ accuracy_bound }}m, budete ju môcť potvrdiť stlačením tlačidla “Potvrdiť miesto”.{% endtrans %}
                                            <strong>{% trans %}Ak je presnosť nad {{ accuracy_bound }}m choďte k oknu a počkajte na lepší signál, tento proces môže trvať aj niekoľko minút.{% endtrans %}</strong></p>
                                        <div id="place-accuracy" style="text-align: center;"
                                             class="govuk-!-padding-top-2 govuk-!-padding-bottom-4">
                                            <h3 class="govuk-heading-m">{% trans %}Presnosť{% endtrans %} <i
                                                    class="fas fa-spinner fa-pulse spinner"
                                                    style="display: none"></i></h3>
                                            <span style="font-size: 2em; font-family:Source Sans Pro,Arial,sans-serif;">{% trans %}Neznáma{% endtrans %}</span>
                                        </div>

                                    {{ form.lat(style="display: none") }}
                                    {{ form.lng(style="display: none") }}
                                    <button class="govuk-button" id="place-submit" disabled>
                                        {% trans %}Potvrdiť miesto{% endtrans %}
                                    </button>
                                    </div>
                                </div>
                            </div>
                    </form>
                    <script>
                        accuracy_bound = {{ accuracy_bound }};
                        accuracy_timeout = {{ accuracy_timeout }};
                        $("#address-submit").click(address_submit);
                        $("#place-try").click(place_try);
                        $("#place-submit").click(place_submit);
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
